.open div:nth-child(even) {
  right: -10px;
}

.open div:nth-child(1) {
  top: 5px !important;
  -webkit-transform: rotate(135deg) !important;
  -moz-transform: rotate(135deg) !important;
  -o-transform: rotate(135deg) !important;
  transform: rotate(135deg) !important;
}

.open div:nth-child(3) {
  top: -12.6px !important;
  -webkit-transform: rotate(-135deg) !important;
  -moz-transform: rotate(-135deg) !important;
  -o-transform: rotate(-135deg) !important;
  transform: rotate(-135deg) !important;
}
